/* these are the common settings for every project */


/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: 'Robot', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
} */

/* expanding card section */

.expanding-card {
    display: flex;
    width: 70vw;
}

.panel {
    box-shadow: 5px 5px black;
    background-image: url("../assest/home-assets/demo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 2;
    margin: 10px;
    position: relative;
    transition: flex 0.4s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 24px;
    left: 20px;
    margin: 0;
    color: white;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 3;
}

/* @media(max-width: 480px){
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
} */

#icon-move {
    display: block;
    font-size: 40px;
    position: absolute;
    right: 20px;

}

.bi-play-circle-fill::before{
    color: white;
    background-color: black;
    box-shadow: 3px 3px black;
    border-radius: 100%;
}


#hover-icon {
    background-color: rgb(251, 247, 240);
    width: 30%;
    box-shadow: 5px 5px black;;
    border-radius: 20px;
    font-size: 40px;
    position: absolute;
    right: 20px;
}

button #icon-move:hover {
    color: #5665eb;

}