* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}


.tf{
    text-transform: capitalize;
}


/* @keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}


.animation-effact {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
} */

.view-more {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 4px black;
}

.view-more:hover {
    background-color: #077bff;
    color: white;
}


/* add content start */


/* add content end */


/* Learn From Microsoft Certified Expert apply start */

.banner {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px 25px;
    background-color: #eee;
    gap: 330px;
}

.dots {
    display: flex;
    gap: 6px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.red {
    background-color: #f44336;
}

.green {
    background-color: #4caf50;
}

.blue {
    background-color: #2196f3;
}

.text {
    flex: 1;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.btns {
    background-color: #1e88e5;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btns:hover {
    background-color: #1565c0;
    color: white;
}

/* Learn From Microsoft Certified Expert apply END END END */

/* main carousle start */

h1 {
    font-size: 2.1em;
}

.microsoft-img {
    width: 70%;
    border-radius: 20px;
}


.section-one-text {
    font-size: 1.2em;
    font-weight: 600;
    color: #3B3B3B;
}

.lg-navbar {
    background-image: url("../assest/home-assets/website images/Rectangle 1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.bg-container {
    background-color: rgb(15, 15, 151);
    padding: 1.25rem 2rem;
}

.button {
    background-color: rgb(41, 130, 255);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid black;
}

.button:hover {
    box-shadow: 2px 5px black;
}

.united-border {
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
    transition: all 0.3s ease;
}



h1 {
    font-size: 1.8em;
}

.bi-bar-chart-steps {
    font-size: 30px;
}


.explore-margin {
    margin-top: 50px;
}

.explore-button {
    background-color: rgb(41, 130, 255);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid black;
}

.explore-button:hover {
    color: white;
    box-shadow: 2px 5px black;
}

.united-p-5 {
    padding: 20px;
}

/* main carousle end */


/* Tools You’ll Become Proficient With start */

.tool-container {
    margin: 60px 0;
}

.tool-icon {
    width: 50%;
    border-radius: 20px;
}

/* Tools You’ll Become Proficient With END END */

/* E-Accounting Course syllabus start */

.syllabus-bg {
    background-image: url("../assest/home-assets/backgrounds/background\ 2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    margin: 50px 0;
}


/* accordion */

.accordion-text {
    font-size: 1.1em;
    margin: 7px 0;
}

.accordion {
    max-width: 100%;
    background: linear-gradient(to bottom right, #FFF, #f7f7f7);
    margin: 20px auto;
    border-radius: 30px;
}

.heading {
    color: #FFF;
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px;
    background: #042F73;
    border-radius: 10px;
    cursor: pointer;
}

.contents {
    display: none;
    background: #FFFAFA;
    padding: 15px;
    color: #000;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
}


.heading:hover {
    background: #042F73;
}


.heading::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    border-top: 7px solid #f5f5f5;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    float: right;
    transform: rotate(0);
    transition: all 0.5s;
    margin-top: 5px;
}

.active.heading::before {
    transform: rotate(-180deg);
}

.not-active.heading::before {
    transform: rotate(0deg);
}

.border-contents {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}


.syllabus-flex {
    margin: 50px 0;
}

.download-syllabus-btn {
    background-color: #55b3ff;
    text-decoration: none;
    color: white;
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0px;
}

.download-syllabus-btn:hover {
    box-shadow: 3px 3px black;
}

.talk-to-mentor {
    background-color: #1180ff;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.talk-to-mentor:hover {
    box-shadow: 3px 3px black;
}

.gray-text {
    font-size: 1.5em;
    font-weight: 300;
    margin: 15px 0;
    color: rgb(71, 71, 71);
}



.syllabus-img {
    border-radius: 20px;
}



/* E-Accounting Course syllabus END END END */

/* Assignments you'll handle: start */


.card-text {
    margin: 0;
    font-size: 0.85em;
}

.assign-gap {
    gap: 1em;
}


.card-img-top {
    width: 100%;
    height: 200px;
    padding: 10px;
}

.card-heading {
    font-size: 0.9em;
}


.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.card-body {
    padding: 0;
}

.card-img-top {
    padding: 5px 0;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.list-group {
    list-style: none;
}


.list-group-items::before {
    content: "⬤";
    font-size: 0.5em;
    color: #1180ff;
    border: none;
}

.list-group-items {
    font-size: 0.8em;
    padding: 3px 0;
}

.card-w {
    width: 90%;
}

.card-padding {
    margin: 30px 0;
}


/* Assignments you'll handle: END END END */

/* top place start */

.bg-top-place {
    background-image: url("../assest/home-assets/backgrounds/background\ 2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    margin: 50px 0;
}

.top-place-img-col{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #8b8b8b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* top place END END END */

/* Explore Student Project Start */



.bg-project-card {
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px 0;
}

.project-h-text {
    font-size: 1.5em;
    color: #4e4e4e;
    font-weight: 600;
    margin: 10px 0;
}

.project-p-text {
    font-size: 1.2em;
    color: #4e4e4e;
    font-weight: 600;
    margin: 10px 0;
}

.project-radius {
    border-radius: 20px 20px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 250px;
    object-fit: fill;
    object-position: top;
}

.project-btn {
    background-color: rgb(41, 130, 255);
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 8px 0px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    font-weight: 400;
}

.project-btn:hover {
    color: white;
    box-shadow: 2px 4px black;
}

.bg-project-card:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
}


/* Explore Student Project END END END */

/* Course Benefit start */

.benefits-icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.benefits-gap {
    gap: 50px;
}

.benefits-heading {
    margin: 50px 0;
}

.benefits-text {
    font-size: 1.2em;
    margin: 30px 0;
}

.benefits-para {
    font-size: 1em;
    margin: 10px 0;
    font-weight: 500;
    color: #505050;
}

/* Course Benefit END END END */


/* career pathway start */

.career-btn {
    font-weight: 400;
}

.career-img-align {
    text-align: end;
}

.career-bg {
    background-color: #042F73;
    margin: 20px 0;
    width: 100%;
    border-radius: 40px;
    padding: 20px;
}

.career-img {
    width: 80%;
    border-radius: 0px 30px 30px 0px;
}

.career-para {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8;
}

.career-margin {
    margin: 40px 0;
}

.career-col-padding {
    padding: 0 0 0 90px;
}

/* career pathway END END END */


/* Diploma Certification start */

.crt-img-width {
    width: 75%;
}

/* Diploma Certification END END END */

/* Start your journey form start */

.bg-form {
    background-color: #FFFAEA;
    /* background-color: rgb(103, 103, 103); */
    padding: 50px;
    border-radius: 20px;
}

label {
    font-weight: 600;
}

.form-section {
    margin: 50px 0;
}

.form-margin {
    margin: 30px 0;
}

.form-card {
    background-color: #B9DDFC;
    padding: 10px;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgb(62, 62, 62) 1px 1px 8px 0px inset, rgb(62, 62, 62)1px 1px 8px 0px inset;
}

.person-img {
    border-radius: 40px 0 0 40px;
}

/* Start your journey form END END END */



/* feedback start */

.feedback-bg {
    background: #EBECEF;
    border-radius: 35px;
    height: 100%;
}

.feedback-img-margin {
    margin: auto auto 0 0;
}


/* feedback END END END */



/* FOOTER START */


.footer-bg {
    background: #042F73;
    height: 100%;
    margin: 15vh 0 0 0;
}

.footer-logo {
    width: 10em;
}

.bi-geo-alt-fill {
    font-size: 30px;
}

.bi-envelope {
    font-size: 30px;
}

.bi-telephone-fill {
    font-size: 30px;
}


.footer-icon-size {
    width: 100%;
    height: 100%;
}

.interview-footer {
    margin: 10px 0;
    font-weight: 400;
}

.interview-footer-h {
    margin: 30px 0 0 0;
}

.map-margin {
    margin: 50px 0;
}

.made-orange {
    color: rgb(255, 102, 47);
}

.india-green {
    color: green;
}

.footer-h {
    font-size: 20px;
}

.map {
    width: 100%;
    height: 500px;
}

.footer-p {
    font-weight: 400;
    margin: 10px 0;
}

.interview-footer-h {
    font-size: 1.3em;
    font-weight: 600;
}


/* FOOTER END END END */




@media (min-width: 1200px) {

    /* Learn From Microsoft Certified Expert apply start */

    .banner {
        flex-direction: row;
        gap: 460px;
        text-align: center;
    }

    /* Learn From Microsoft Certified Expert apply END END END */


    /* main carousle start */

    .paragraph-text {
        font-size: 1.0625rem;
    }

    /* main carousle END END END */


    /* Tools You’ll Become Proficient With start */

    .tool-icon-container {
        width: 70%;
    }

    .tool-icon {
        width: 80%;
    }

    /* Tools You’ll Become Proficient With END END */

    /* E-Accounting Course syllabus start */

    /* E-Accounting Course syllabus END END END */

    /* Assignments you'll handle: start */
    .card-h {
        height: 80%;
    }

    .card:hover {
        transform: scale(1.03);
        transition: transform 0.5s;
    }

    /* Assignments you'll handle: END END END */

    /* Course Benefit start */
    /* Course Benefit END END END */

    /* Start your journey form start */

    .form-card {
        border-radius: 20px;
        padding: 20px;
    }

    .form-select {
        font-size: 1.3em;
        padding: 12px 5px;
    }


    label {
        font-size: 1.1em;
        font-weight: 600;
    }

    /* Start your journey form END END END */

    /* career pathway start */
    .career-bg {
        background-color: #042F73;
        margin: 20px 0;
        width: 85%;
        border-radius: 40px;
        padding: 20px;
    }

    /* career pathway END END END */

    /* FOOTER START */
    /* FOOTER END END END */


}

@media (max-width: 1200px) {

    /* Learn From Microsoft Certified Expert apply start */
    .banner {
        gap: 200px;
    }

    .certified-expert {
        font-size: 2.50vh;
    }

    /* Learn From Microsoft Certified Expert apply END END END */


    /* main carousle start */

    h1 {
        font-size: 1.5em;
    }

    .section-one-text {
        font-size: 1em;
    }

    .paragraph-text {
        font-size: 1.125rem;
    }

    /* main carousle END END END */


    /* Tools You’ll Become Proficient With start */

    .tool-icon-container {
        width: 90%;
    }

    .tool-icon {
        width: 80%;
    }

    /* Tools You’ll Become Proficient With END END */


    /* E-Accounting Course syllabus start */
    .download-syllabus-btn {
        width: 20vw;
        padding: 5px 0px;
        font-size: 1em;
    }

    /* E-Accounting Course syllabus END END END */

    /* Assignments you'll handle: start */

    .mp {
        font-size: small;
        padding: 12px 0;
    }

    .card-w {
        width: 100%;
    }

    /* Assignments you'll handle: END END END */

    /* top place start */
    /* top place END END END */

    /* Explore Student Project Start */

    .bg-project-card {
        width: 100%;
    }

    .project-radius {
        height: 200px;
    }

    /* Explore Student Project END END END */

    /* Course Benefit start */

    .benefits-gap {
        gap: 30px;
    }

    .benefits-text {
        font-size: 1.1em;
        margin: 20px 0;
    }

    .benefits-para {
        font-size: 0.8em;
    }

    /* Course Benefit END END END */

    /* Start your journey form start */

    .person-img {
        border-radius: 10px;
    }

    .person-img-col {
        margin-bottom: 20px;
    }

    .form-margin {
        margin-top: 0px;

    }


    .form-card {
        border-radius: 20px;
        padding: 20px;
    }

    .bg-form {
        padding: 5px;
    }

    /* Start your journey form END END END */


    /* career pathway start */
    /* career pathway END END END */


    /* FOOTER START */

    .footer-p {
        font-size: 1em;
        margin: 10px 0;
    }

    .footer-h {
        font-size: 1.5em;
    }

    .footer-p {
        margin: 0;
    }


    /* FOOTER END END END */
}

@media (max-width: 992px) {

    /* Learn From Microsoft Certified Expert apply start */
    .banner {
        gap: 150px;
    }

    .certified-expert {
        font-size: 1em;
    }

    /* Learn From Microsoft Certified Expert apply END END END */

    /* main carousle start */

    h1 {
        font-size: 1.5rem;
    }

    .paragraph-text {
        font-size: 1rem;
    }

    .microsoft-logo {
        text-align: center;
    }

    .explore-button {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .microsoft-img {
        width: 100%;
        border-radius: 20px;
    }

    h1 {
        font-size: 1.5em;
    }


    /* main carousle END END END */

    /* Tools You’ll Become Proficient With start */

    .tool-icon {
        width: 100px;
        border-radius: 20px;
    }

    /* Tools You’ll Become Proficient With END END */

    /* E-Accounting Course syllabus start */
    .download-syllabus-btn {
        padding: 10px 0px;
        width: 20vw;
        font-size: 0.9em;
    }

    .gray-text {
        font-size: 1em;
    }

    .syllabus-heading {
        font-size: 1.5em;
    }

    /* E-Accounting Course syllabus END END END */

    /* Assignments you'll handle: start */

    .mp {
        font-size: 1em;
        padding: 12px 0;
    }

    /* Assignments you'll handle: END END END */

    /* top place start */
    /* top place END END END */

    /* Explore Student Project Start */
    .bg-project-card {
        width: 100%;
    }

    .project-radius {
        height: 150px;
    }

    .project-p-text {
        font-size: 1em;
        margin: 10px 0 0 0;
    }

    .project-h-text {
        font-size: 1.2em;
    }

    .project-btn {
        font-size: 0.8em;
        padding: 5px 0px;
    }

    /* Explore Student Project END END END */

    /* Course Benefit start */

    .benefits-icon {
        margin: 30px 0 0 0;
    }


    .benefits-gap {
        gap: 0;
    }

    /* .benefits-heading{
        margin: 20px 0;
    } */

    .benefits-text {
        font-size: 1.1em;
        margin: 20px 0;
    }

    .benefits-para {
        font-size: 0.8em;
    }

    /* Course Benefit END END END */

    /* Start your journey form start */

    .person-img {
        border-radius: 10px;
    }

    .person-img-col {
        margin-bottom: 20px;
    }

    .form-margin {
        margin-top: 0px;

    }

    .form-card {
        border-radius: 20px;
        padding: 20px;
    }

    .bg-form {
        padding: 5px;
    }

    /* Start your journey form END END END */


    /* career pathway start */
    .career-bg {
        background-color: #042F73;
        margin: 20px 0;
        padding: 0 20px;
    }

    .career-margin {
        margin: 30px 0;
    }

    .career-img {
        margin: 20px 0;
    }

    .career-heading {
        font-size: 1.5em;
        font-weight: 800;
    }

    .career-para {
        font-size: 1em;
    }

    /* career pathway END END END */


    /* FOOTER START */

    .footer-margin {
        margin: 50px 0;
    }

    .footer-gap {
        gap: 1px;
    }
    .footer-icon-size {
        width: 100%;
        height: 100%;
    }

    .interview-footer-h {
        font-size: 1.3em;
    }

    .interview-footer {
        font-size: 1em;
    }

    /* FOOTER END END END */

}

@media (max-width: 768px) {

    /* Learn From Microsoft Certified Expert apply start */
    .banner {
        flex-direction: row;
        gap: 130px;
        text-align: center;
    }

    .certified-expert {
        font-size: 1em;
    }

    /* Learn From Microsoft Certified Expert apply END END END */


    /* main carousle start */

    h1 {
        font-size: 1.75rem;
    }

    .united-p-5 {
        padding: 25px;
    }

    .paragraph-text {
        font-size: 0.9375rem;
    }

    .e-accounting-margin {
        margin: 30px 0;
    }

    .logo-col {
        margin: 20px 0;
    }


    .microsoft-img {
        width: 60%;
        border-radius: 20px;
    }


    /* main carousle END END END */


    /* Tools You’ll Become Proficient With start */

    .tool-icon {
        border-radius: 10px;
        width: 80%;
    }

    .sm-tool {
        margin: 20px 0;
    }

    /* Tools You’ll Become Proficient With END END */

    /* E-Accounting Course syllabus start */

    .download-syllabus-btn {
        width: 100%;
        text-decoration: none;
        color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 20px;
    }

    .gray-text {
        font-size: 0.85em;
    }

    .syllabus-heading {
        font-size: 1.3em;
    }

    /* E-Accounting Course syllabus END END END */

    /* Assignments you'll handle: start */

    .card-heading {
        font-size: 0.7em;
    }

    .card-text {
        font-size: 0.6em;
    }

    .card-w {
        width: 100%;
    }

    /* Assignments you'll handle: END END END */

    /* top place start */
    /* top place END END END */

    /* Explore Student Project Start */
    .bg-project-card {
        width: 100%;
    }

    .project-radius {
        height: 300px;
    }


    .project-p-text {
        font-size: 1.5em;
        margin: 10px 0 0 0;
    }

    .project-h-text {
        font-size: 2em;
    }

    .project-btn {
        font-size: 1.5em;
        padding: 5px 0px;
    }

    /* Explore Student Project END END END */

    /* Course Benefit start */

    .benefits-icon {
        margin: 30px 0 0 0;
    }

    /* Course Benefit END END END */

    /* career pathway start */

    .career-bg {
        padding: 20px 10px;
        border-radius: 10px;
    }

    .career-img-align {
        text-align: center;
    }

    .career-col-padding {
        padding: 0 20px;
    }

    .career-img {
        width: 90%;
        border-radius: 20px 20px 20px 20px;
    }

    .career-btn {
        width: 50%;
    }

    /* career pathway END END END */

    /* Start your journey form start */

    .person-img {
        border-radius: 10px;
    }

    .person-img-col {
        margin: 0 0 20px 0;
    }

    .form-margin {
        margin-top: 0px;
    }

    .form-card {
        border-radius: 20px;
    }

    .bg-form {
        padding: 5px;
    }

    /* Start your journey form END END END */


    /* FOOTER START */

    .footer-gap {
        gap: 1px;
        justify-content: center;
    }

    .footer-margin2 {
        margin: 20px 0;
        text-align: center;
    }

    .footer-margin {
        margin: 20px 0;
        text-align: center;
    }

    .footer-h {
        font-size: 1.5em;
        text-align: start;
    }

    .footer-online-course {
        margin: 20px 0 0 0;
    }

    .footer-p {
        text-align: start;
    }


    .footer-icon-size {
        width: 100%;
        height: 100%;
    }

    .interview-footer-h {
        font-size: 1.3em;
    }

    .interview-footer {
        font-size: 1em;
    }

    /* FOOTER END END END */



}

@media (max-width: 576px) {

    /* Learn From Microsoft Certified Expert apply start */
    .banner {
        flex-direction: row;
        gap: 10px;
        text-align: center;
    }

    .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }

    .certified-expert {
        font-size: 2.50vh;
    }

    /* Learn From Microsoft Certified Expert apply END END END */


    /* main carousle start */
    .grid-container {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .united-col {
        padding: 0 1rem;
    }

    h1 {
        font-size: 1.25rem;
        line-height: 1.25;
    }

    .paragraph-text {
        font-size: 0.875rem;
        line-height: 1.5;
    }

    .united-p-5 {
        padding: 10px;
        margin: 0;
    }

    .explore-margin {
        margin-top: 0;
    }

    .explore-button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .bg-container {
        padding: 1rem;
    }

    .microsoft-logo img {
        max-width: 100%;
        border-radius: 20px;
    }

    /* main carousle END END END */

    /* Tools You’ll Become Proficient With start */

    .tool-icon {
        border-radius: 10px;
        width: 90%;
    }

    .sm-tool {
        margin: 20px 0;
    }

    /* Tools You’ll Become Proficient With END END */

    /* E-Accounting Course syllabus start */

    .syllabus-flex {
        margin: 10px 0;
        flex-wrap: wrap;
    }

    .syllabus-heading {
        font-size: 1.5em;
    }

    .gray-text {
        font-size: 1em;
    }

    .download-syllabus-btn {
        margin: 20px 0;
        width: 100%;
        padding: 10px 10px;
        font-size: 0.7em;
    }

    .talk-to-mentor {
        font-size: 0.7em;
    }

    .heading {
        font-size: 1em;
    }

    .syllabus-img {
        height: 50px;
        border-radius: 10pxcareer-heading;
    }

    /* E-Accounting Course syllabus END END END */


    /* Assignments you'll handle: start */
    .mp {
        font-size: 1em;
        padding: 12px 0;
    }

    .card-heading {
        font-size: 0.9em;
    }

    .card-text {
        font-size: 0.8em;
    }

    .card-w {
        width: 80%;
    }

    /* Assignments you'll handle: END END END */

    /* top place start */
    /* top place END END END */

    /* Explore Student Project Start */

    .bg-project-card {
        width: 100%;
    }

    .project-radius {
        height: 250px;
    }


    .project-p-text {
        font-size: 1em;
        margin: 10px 0 0 0;
    }

    .project-h-text {
        font-size: 1.5em;
    }

    .project-btn {
        font-size: 1em;
        padding: 5px 0px;
    }


    /* Explore Student Project END END END */

    /* Course Benefit start */

    .benefits-icon {
        margin: 15px 0 0 0;
    }

    .benefits-text {
        font-size: 1em;
        margin: 20px 0;
    }

    .benefits-para {
        font-size: 0.75em;
    }

    .benefits-icon {
        width: 80px;
        height: 80px;
    }

    /* Course Benefit END END END */

    /* career pathway start */


    .career-img-align {
        text-align: center;
    }

    .career-col-padding {
        padding: 0 20px;
    }

    .career-img {
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }

    .career-btn {
        width: 50%;
    }

    /* career pathway END END END */




    /* Diploma Certification start */
    .crt-img-width {
        width: 100%;
    }

    /* Diploma Certification END END END */

    /* Start your journey form start */

    .bg-form {
        padding: 20px;
    }

    .form-select {
        font-size: 1em;
        font-weight: 600;
        padding: 15px 5px;
    }


    .form-card {
        margin-bottom: 20px;
    }

    label {
        font-size: 1em;
        font-weight: 700;
    }


    /* Start your journey form END END END */



    /* FOOTER START */
   .footer-icon-size {
        width: 70%;
        height: 70%;
    }

    /* FOOTER END END END */

}

@media (max-width: 450px) {


    /* Learn From Microsoft Certified Expert apply start */
    .banner {
        flex-direction: row;
        gap: 15px;
        text-align: center;
    }

    .certified-expert {
        font-size: 1.50vh;
    }

    .btns {
        font-size: 2vh;
        padding: 5px 10px;
    }

    .heading {
        font-size: 1em;
    }

    /* Learn From Microsoft Certified Expert apply END END END */


    /* main carousle start */

    .explore-margin {
        margin-top: 30px;
    }

    .heading-text {
        font-size: 1.25em;
        line-height: 1.25;
    }

    .united-p-5 {
        padding: 15px;
    }

    .logo-col {
        margin: 20px 0;
    }


    h1 {
        font-size: 1.5em;
    }


    /* main carousle END END END */

    /* Tools You’ll Become Proficient With start */
    .tool-icon {
        border-radius: 10px;
        width: 100%;
    }

    .sm-tool {
        margin: 20px 0;
    }

    /* Tools You’ll Become Proficient With END END */


    /* E-Accounting Course syllabus start */

    .syllabus-heading {
        font-size: 1em;
    }

    .gray-text {
        font-size: 0.8em;
    }

    .syllabus-bg {
        margin: 30px 0;
    }


    .download-syllabus-btn {
        margin: 20px 0;
        width: 100%;
        padding: 10px 10px;
        font-size: 0.7em;
    }

    .contents-heading {
        font-size: 0.85em;
    }

    /* E-Accounting Course syllabus END END END */


    /* Assignments you'll handle: start */

    .mp {
        font-size: 0.7em;
        padding: 12px 0;
    }

    .mp {
        font-size: 1em;
        padding: 12px 0;
    }

    .card-heading {
        font-size: 0.8em;
    }

    .card-text {
        font-size: 0.7em;
    }

    .card-w {
        width: 95%;
    }


    /* Assignments you'll handle: END END END */

    /* top place start */
    /* top place END END END */

    /* Explore Student Project Start */
    /* Explore Student Project END END END */

    /* Course Benefit start */
    /* Course Benefit END END END */

    /* career pathway start */


    .career-img-align {
        text-align: center;
    }

    .career-col-padding {
        padding: 15px 20px;
    }

    .career-heading {
        font-size: 1.2em;
    }

    .career-para {
        font-size: 0.9em;
    }

    .career-img {
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }

    .career-btn {
        width: 50%;
    }


    /* career pathway END END END */

    /* Start your journey form start */

    .bg-form {
        padding: 10px;
    }

    .form-select {
        font-size: 1em;
        font-weight: 600;
        padding: 15px 5px;
    }


    .form-card {
        margin-bottom: 20px;
    }

    label {
        font-size: 1em;
        font-weight: 600;
    }


    /* Start your journey form END END END */



    /* FOOTER START */

       .footer-icon-size {
        width: 80%;
        height: 80%;
    }


    .footer-p {
        margin: 5px 0;
    }

    .footer-h {
        font-size: 1em;
        text-align: start;
    }

    /* FOOTER END END END */



}